env/*
results/*
logs/*

*/__pycache__

pycochleagram/*
utils/unzip.py

# Ignore config files
*.yaml

# Ignore bash scripts
*.sh

# Ignore slurm output
slurm_output/*

# Ignore examples folder
examples/*
